# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=taskflow

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# Kafka Broker Configuration
KAFKA_BROKERS=localhost:9092

# Server & Client URLs
PORT=4000
NEXT_PUBLIC_BACKEND_REST_URL=http://localhost:4000
NEXT_PUBLIC_BACKEND_RTL_URL=http://localhost:4001
FRONTEND_URL=http://localhost:3000
